h1 {
  margin: 20px;
  margin-bottom: 0px;
  font-size: 40px;
  color: white;
  text-align: center;
}

body {
  background-color:#606D80;
}

form {
  margin: 30px;
}

input[type="submit"] {
  border: none;
  color: white;
  background-color: #8A8780;
  padding: 8px;
  font-size: 20px;
}

input[type="text"], textarea {
  width: 400px;
}

label {
  font-size: 20px;
}

a {
  color:#E47267;
}

.podcast-list-item {
  background-color: #D7D8C5;
  margin: 10px;
  color: #E47267;
  padding: 10px;
  font-size: 20px;
  list-style: none;
}

.podcast-name {
  font-weight: 600;
}

.podcast-list-item:hover {
  background-color: #8A8780;
  margin: 10px;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.podcast-info {
  margin: 30px;
  list-style: none;
  font-size: 20px;
}

.title {

  font-size: 40px;
  color: #2199E8;
}

.subtitle {

  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 50px;
}

.avatar {
    padding: 1.0em
  }
