h1 {
  margin: 20px;
  margin-bottom: 0px;
  font-size: 40px;
  color: white;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}

body {
  background-color:#606D80;
}

input[type="submit"], .edit-delete {
  border: none;
  color: white;
  background-color: #8A8780;
  padding: 8px;
  font-size: 20px;
  /*margin: 5px;*/
}

.edit-delete:hover {
  color: white;
}

input[type="text"], textarea {
  width: 400px;
}

label {
  font-size: 20px;
  color: white;
}

a {
  color:#E47267;
  font-size: 20px;
}

.search-results, .flash {
  color: white;
  font-size: 24px;
  margin: 25px;
}

.podcast-list-item {
  background-color: #D7D8C5;
  margin: 10px;
  color: #E47267;
  padding: 10px;
  font-size: 20px;
  list-style: none;
}

.podcast-name {
  font-weight: 600;
}

.podcast-list-item:hover {
  background-color: #8A8780;
  margin: 10px;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.podcast-info {
  list-style: none;
  font-size: 20px;
  background-color: #D7D8C5;
  padding: 20px;
  margin: 0px;
}

.title {
  font-size: 40px;
  color: #2199E8;
}

.avatar {
    padding: 1.0em
}

.show-page {
  margin: 20px;
}

.prompt {
  font-weight: bold;
}

#search, .search-button {
  display: inline-block;
  margin-right: 0px;
}
