.reviews {
  margin: 30px;
}

.review-list-item {
  background-color: #95B8D1;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  border: 3px solid #376996;
  margin: 10px;
}

.edit-delete a {
  background-color: #376996;
  color: white;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
