.reviews {
  margin: 30px;
}

.review-list-item {
  background-color: #D7D8C5;
  /*border-radius: 10px;*/
  list-style: none;
  padding: 15px;
  /*border: 3px solid #376996;*/
  margin: 10px;
}

.edit-delete a {
  background-color: #376996;
  color: white;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.vote-buttons {
  width: 20%;
}

.review-body {
  width: 80%;
}

.fa {
  font-size: 40px;
}
